
body{
    background: linear-gradient(to left, #01101d, #00125C);
    height: 100%;
}
.navbar{
    background-color: #4D5161;
    
    
    
}
#navbarBasicExample{
    background-color: #01101d;
    
    
    
}
.navbar-item{
   color: #4D5161;
    
}
.navbar-item:hover{
   transition: 0.5s ease-in;   
}

li{
    margin: 25px;
}
h1{
    margin: 15px;
}
.is-rounded:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in;
}

.divinfo{
    background-color: #00125c9d;
    width: 30vw;
    position: relative;
    color: #fff;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.397);
    padding: 10px;
    left: 90px;
    bottom:123px;
    z-index: 1;
    transition: 0.5s ease-in;
}

@media (max-width: 600px){
    .divinfo{
        background-color: #00125c9d;
        width: 36vw;
        position: relative;
        color: #fff;
        border-radius: 8px;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.397);
        padding: 10px;
        left: 56px;
        bottom:155px;
        font-size: 0.6rem;
        z-index: 1;
        transition: 0.5s ease-in;
    }
}
