html{
    background-color: transparent;
    overflow-y: auto;
}
body{
    background: linear-gradient(to left, #01101d, #00125C);
    height: 100%;
    color: #fff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    padding-top: 5%;
}

#divmain{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img{
    margin: 30px;
}
img:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in;   
}
a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}