body{
    background: linear-gradient(to bottom, #848a8f, #195b88);
}
.navbar{
    background-color: rgb(0, 15, 58);
    
    
}
#navbarBasicExample{
    background-color: rgb(0, 15, 58);
    
}
.navbar-item{
    border-radius: 5px;
    margin: 10px;
    color: white;
}
.navbar-item:hover{
    border-radius: 5px;
    color: white;
    transition: 0.5s ease-in;
}

li{
    margin: 25px;
}
h1{
    margin: 15px;
}
.is-rounded:hover{
    transform: scale(1.2);
}

.divinfo{
    background-color: rgba(44, 44, 44, 0.568);
    width: 30vw;
    position: relative;
    color: #fff;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.397);
    padding: 10px;
    left: 300px;
}

